*.ipynb_checkpoints
__pycache__/
course1/horse-or-human.zip
course1/horse-or-human/
course1/validation-horse-or-human.zip
course1/validation-horse-or-human.zip.1
course1/validation-horse-or-human/
course1/happy-or-sad.zip
course1/happy-or-sad/
