*.ipynb_checkpoints
__pycache__/
course1/horse-or-human.zip
course1/horse-or-human/
course1/validation-horse-or-human.zip
course1/validation-horse-or-human.zip.1
course1/validation-horse-or-human/
course1/happy-or-sad.zip
course1/happy-or-sad/
course2/cats_and_dogs_filtered
course2/cats_and_dogs_filtered.zip
course2/PetImages/
.idea/
course2/cats-v-dogs/
course2/horse-or-human.zip
course2/horse-or-human/
course2/validation-horse-or-human.zip
course2/validation-horse-or-human/
course2/inception_v3_weights_tf_dim_ordering_tf_kernels_notop.h5
course2/rps-test/
course2/rps-train/
course2/sign_mnist_test.csv
course2/sign_mnist_train.csv

